<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink App</title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
      </style>
      <!-- <script><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"> </script> -->
</head>
<body>
    <h1>Welcome to gitPub</h1>

    <% for (let drink in allDrinks) { %>
         <li>
             <!-- https://flexiple.com/javascript-capitalize-first-letter/ -->
             <a href="/drinks/<%=drink%>"><%=allDrinks[drink].name.charAt(0).toUpperCase() + allDrinks[drink].name.slice(1) %></a>
             
         </li>
    <% } %>
</body>
</html>