<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink App</title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
      </style>
</head>
<body>
    <h1>At foo bar</h1>
    <h2><%= food.name %></h2>
    <img src="<%= food.image%>" alt="">
    <h3><%=food.price%></h3>
    <a href="/foods">Back to gitPub</a>
</body>
</html>